{% extends 'user_base.html' %}

{% block title %}Book a Consultation{% endblock %}

{% block content %}
<div class="main-content">
    <h1>Book a Consultation</h1>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="{{ form.doctor.id_for_label }}">Doctor:</label>
            <div class="input-field">
                {{ form.doctor }}
            </div>
            {% if form.doctor.errors %}
                <div class="alert alert-danger">{{ form.doctor.errors }}</div>
            {% endif %}

            <label for="{{ form.date.id_for_label }}">Date:</label>
            <div class="input-field">
                {{ form.date }}
            </div>
            {% if form.date.errors %}
                <div class="alert alert-danger">{{ form.date.errors }}</div>
            {% endif %}

            <label for="{{ form.description.id_for_label }}">Description:</label>
            <div class="input-field">
                {{ form.description }}
            </div>
            {% if form.description.errors %}
                <div class="alert alert-danger">{{ form.description.errors }}</div>
            {% endif %}
        </div>
        <button type="submit" class="btn-primary">Book</button>
    </form>
</div>
{% endblock %}