{% extends 'base.html' %}

{% block title %}Consultation List{% endblock %}

{% block content %}
<div class="main-content">
    <h1>Consultation List</h1>
    <table class="prescription-table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Time</th> <!-- Added Time Column -->
                <th>Patient Name</th>
                <th>Doctor Name</th>
                <th>Description</th>
                <th>Notes</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for consultation in consultations %}
            <tr>
                <td>{{ consultation.date|date:"d.m.Y" }}</td>
                <td>{{ consultation.time|date:"H:i" }}</td> <!-- Display time here -->
                <td>{{ consultation.patient.full_name }}</td>
                <td>{{ consultation.doctor.name }}</td>
                <td>{{ consultation.description }}</td>
                <td>{{ consultation.notes }}</td>
                <td>{{ consultation.get_status_display }}</td>
                <td class="actions-cell">
                    {% if consultation.status == 'complete' %}
                        <span class="status-text">Done</span>
                    {% elif consultation.can_add_notes and consultation.doctor.user == user %}
                        <a href="{% url 'add_notes' consultation.id %}" >Add Notes</a>
                    {% else %}
                        <span class="status-text">To be Done</span>
                    {% endif %}
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="8">No consultations available.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
