{% extends 'base.html' %}

{% block title %}Consultation List{% endblock %}

{% block content %}
<div class="main-content">
    <h1>Consultation List</h1>
    <ul>
        {% for consultation in consultations %}
            <li class="consultation-item">
                <h2>{{ consultation.date }} - {{ consultation.patient.name }} with Dr. {{ consultation.doctor.name }}</h2>
                <p><strong>Description:</strong> {{ consultation.description }}</p>
                <p><strong>Notes:</strong> {{ consultation.notes }}</p>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'home' %}">Go to Homepage</a>
</div>
{% endblock %}
