{% extends 'base.html' %}

{% block title %}Patient List{% endblock %}

{% block content %}
<div class="main-content">
    <h1>Patients</h1>
    <ul>
        {% for patient in patients %}
            <li class="patient-item">
                <h2>{{ patient.user.username }}</h2>
                <div class="patient-actions">
                    <a href="{% url 'view_patient' patient.id %}">View</a>
                    <form method="post" action="{% url 'delete_patient' patient.id %}" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit">Delete</button>
                    </form>
                </div>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'admin_home' %}">Go to Homepage</a>
</div>
{% endblock %}