{% extends 'base.html' %}

{% block title %}Delete Prescription{% endblock %}

{% block content %}
<div class="main-content">
    <h1>Delete Prescription</h1>
    <p>Are you sure you want to delete this prescription?</p>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="prescription-details">Prescription Details:</label>
            <div class="input-field">
                <p id="prescription-details">{{ prescription.medication }} for {{ prescription.patient.full_name }} on {{ prescription.date }}</p>
            </div>
        </div>
        <button type="submit" class="btn-primary">Delete</button>
        <a href="{% url 'prescription_list' %}" class="btn-back">Cancel</a>
    </form>
</div>
{% endblock %}