{% extends 'base.html' %}

{% block title %}Prescriptions - DocuCare{% endblock %}

{% block content %}
<div class="main-content">
    <h1>{{ page_title }}</h1>
    <a href="{% url 'prescription_create' %}" class="button add-prescription">Add New Prescription</a>
    <table class="prescription-table">
        <thead>
            <tr>
                <th>Patient Name</th>
                <th>Date</th>
                <th>Time</th>
                <th>Prescription</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for prescription in prescriptions %}
            <tr>
                <td>{{ prescription.patient.full_name }}</td>
                <td>{{ prescription.date|date:"d.m.Y" }}</td>
                <td>{{ prescription.time|time:"H:i" }}</td>
                <td>{{ prescription.medication }}</td>
                <td>
                    <a href="{% url 'prescription_update' prescription.pk %}" >Edit</a>
                    <a href="{% url 'prescription_delete' prescription.pk %}" >&nbsp&nbsp&nbsp&nbsp&nbsp&nbspDelete</a>
                </td>
                </tr>
            {% empty %}
            <tr>
                <td colspan="7">No prescriptions available.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}