<!-- create_billing_record.html -->
{% extends 'base.html' %}

{% block title %}Create Billing Record{% endblock %}

{% block content %}
<h2>Create Billing Record</h2>
{% if messages %}
    <div class="alert alert-info message">
        {% for message in messages %}
            <div>{{ message }}</div>
        {% endfor %}
    </div>
{% endif %}
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-primary" type="submit">Create Record</button>
    <a class="btn btn-secondary" href="{% url 'home' %}">Back to Home</a>
</form>
{% endblock %}
