{% extends 'user_base.html' %}

{% block title %}Update Patient{% endblock %}

{% block content %}
<div class="main-content">
    <h1>Update Patient: {{ patient.username }}</h1>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="{{ form.full_name.id_for_label }}">Full Name:</label>
            <div class="input-field">
                {{ form.full_name }}
            </div>
            {% if form.full_name.errors %}
                <div class="alert alert-danger">{{ form.full_name.errors }}</div>
            {% endif %}

            <label for="{{ form.date_of_birth.id_for_label }}">Date of Birth:</label>
            <div class="input-field">
                {{ form.date_of_birth }}
            </div>
            {% if form.date_of_birth.errors %}
                <div class="alert alert-danger">{{ form.date_of_birth.errors }}</div>
            {% endif %}

            <label for="{{ form.address.id_for_label }}">Address:</label>
            <div class="input-field">
                {{ form.address }}
            </div>
            {% if form.address.errors %}
                <div class="alert alert-danger">{{ form.address.errors }}</div>
            {% endif %}

            <label for="{{ form.contact_number.id_for_label }}">Contact Number:</label>
            <div class="input-field">
                {{ form.contact_number }}
            </div>
            {% if form.contact_number.errors %}
                <div class="alert alert-danger">{{ form.contact_number.errors }}</div>
            {% endif %}

            <label for="{{ form.medical_history.id_for_label }}">Medical History:</label>
            <div class="input-field">
                {{ form.medical_history }}
            </div>
            {% if form.medical_history.errors %}
                <div class="alert alert-danger">{{ form.medical_history.errors }}</div>
            {% endif %}
        </div>
        <button type="submit" class="btn-primary">Update Patient</button>
    </form>

    {% if user.is_staff %}
        <a class="btn-secondary" href="{% url 'cancel_update_patient' patient.user.id %}">Cancel</a> <!-- Admin Cancel -->
    {% else %}
        <a class="btn-secondary" href="{% url 'cancel_update_patient' patient.user.id %}">Cancel</a> <!-- Patient Cancel -->
    {% endif %}

    {% if form.non_field_errors %}
        <div class="alert alert-danger">{{ form.non_field_errors }}</div>
    {% endif %}
</div>
{% endblock %}