
{% extends 'user_base.html' %}

{% block title %}My Prescriptions{% endblock %}

{% block content %}
<div class="main-content">
    <h1>My Prescriptions</h1>
    <table class="prescription-table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Time</th>
                <th>Medication</th>
            </tr>
        </thead>
        <tbody>
            {% for prescription in prescriptions %}
            <tr>
                <td>{{ prescription.date|date:"d.m.Y" }}</td>
                <td>{{ prescription.time|time:"H:i" }}</td>
                <td>{{ prescription.medication }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="3">No prescriptions available.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}